* {
    font-family: sans-serif, 'Inter'
}

body {
    background: #E7F0E5;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

#toprectangle{
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    padding: 0;
    background: #c1d8bc;
    position: fixed;
}

#top_left_text{
    font-style: italic;
    font-family: 'Inter';
    text-align: left;
    padding-left: 2%;
}

#homerectangle{
    position: absolute;
    top: 9.5px;
    right: 215px;
    width: 65px;
    height: 60px;
    background:#618b5a;
    box-shadow: 0 6px rgb(23, 69, 19);
    border-radius: 10px;
    color: white;
}

#profilerectangle{
    position: absolute;
    top: 9.5px;
    right: 133px;
    width: 65px;
    height: 60px;
    background:#618b5a;
    box-shadow: 0 6px rgb(23, 69, 19);
    border-radius: 10px;
    color: white;
}

#signinrectangle{
    position: absolute;
    top: 9.5px;
    right: 15px;
    width: 100px;
    height: 60px;
    background:#618b5a;
    box-shadow: 0 6px rgb(23, 69, 19);
    border-radius: 10px;
    color: white;
}

#invisiblerectangle{
    color: #ff0000;
    top: 0px;
    width: 100%;
    height: 130px;
}

#rectangle {
    width: 937px;
    height: 350px;
    left: 288px;
    top: 227px;
    background: #EFECE4;
    box-shadow: 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px
}


input[type=text]{
    font-family: 'Inter';
    color: rgb(0, 0, 0);
    width: 60%;
    font-size: 1.5rem;
    height: 70px;
    text-align: center;
    transition: 0.6s;
    border: none;
    border-bottom: 2px solid #7c9677;
    background-color: transparent;
  }

input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #226014;
}

#name {
    color: #7C6C5D;
    font-size: 40px;
    font-weight: 700px;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 50px;
}

#enter {
    margin-top: 8px;
    color: #63795f;
}

#submit {
    width: 291px;
    height: 59px;
    border: none;
    top: -6px;
    font-family: 'Inter';
    font-size: inherit;
    cursor: pointer;
    background-color: #7C6C5D;
    box-shadow: 0 6px #463d34;
    padding: 25px 50px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    outline: none;
    position: relative;
    border-radius: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
}


#submit:hover {
	box-shadow: 0 4px #352e27;
	top: 2px;
}


#submit:active {
	box-shadow: 0 0 #352e27;
	top: 6px;
}

#homerectangle:hover {
	box-shadow: 0 4px #352e27;
	top: 12px;
    transition: all 0.3s;
}

#profilerectangle:hover {
	box-shadow: 0 4px #352e27;
	top: 12px;
    transition: all 0.3s;
}

#signinrectangle:hover {
	box-shadow: 0 4px #352e27;
	top: 12px;
    transition: all 0.3s;
}

#rectangle:hover{
    width: 940px;
    height: 353px;
    transition: all 0.3s;
}

#recipelink {
    color: rgb(96, 61, 35);
    text-shadow: 2px 2px 3px rgb(139, 128, 113);
}

#recipelink1 {
    color: rgb(96, 61, 35);
    text-shadow: 2px 2px 3px rgb(139, 128, 113);
}

#recipeimg{
    margin-bottom: 30px;
    border-radius: 20px;
    border: 2px solid #0c5c0a;
}

#recipeimg1{
    margin-bottom: 30px;
    border-radius: 15px;
    border: 2px solid #0c5c0a;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
    padding: 5px;
}