* {
    font-family: sans-serif, 'Inter'
}

body{
    font-family: 'Inter', sans-serif;
    justify-items: center;
    align-items: center;
    background: #E7F0E5;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

#top-rectangle{
    width: 100%;
    height: 85px;
    left: 0px;
    top: 0px;
    padding: 0;
    background: #c1d8bc;
    position: fixed;
}

#top_left_text{
    font-weight:100;
    font-family: 'Inter', sans-serif;
    text-align: left;
    padding-left: 2%;
    color:rgb(23, 69, 19);
}


#homerectangle{
    position: absolute;
    top: 9.5px;
    right: 225px;
    width: 100px;
    height: 40px;
    background:#618b5a;
    box-shadow: 0 6px rgb(23, 69, 19);
    border-radius: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    padding-top: 5px;
    font-weight: 500;
    margin-right: 50px;
}

#profilerectangle{
    position: absolute;
    top: 9.5px;
    right: 120px;
    width: 100px;
    height: 40px;
    background:#618b5a;
    box-shadow: 0 6px rgb(23, 69, 19);
    border-radius: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    padding-top: 5px;
    font-weight: 500;
    margin-right: 30px;
}


#signinrectangle{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 9.5px;
    right: 15px;
    width: 100px;
    height: 40px;
    background:#618b5a;
    box-shadow: 0 6px rgb(23, 69, 19);
    border-radius: 20px;
    color: white;
    margin-top: 5px;
    padding-top: 5px;
    font-weight: 500;
    margin-right:10px;
}


.bread {
    width:11.5em;
    height:9.5em;
    margin-top: 140px;
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    

}


input::placeholder {
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
.menu-icon{
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
    height: 10px;
    width: auto;
    background-color: red;
}


.login-form-field{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #E4E4E3;
    margin: 10px;
    border-radius: 30px;
    border: none;
    width: 350px;
    height: 30px;
}

.middle-column{
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}


#signInBtn{
    color: white;
}

#signInBtn:hover{
    box-shadow: 0 4px #352e27;
	top: 2px;
}



#header-content{
    display: flex;
    align-items: center;
    justify-content: center;

}




input[type=text]{
    font-family: 'Inter';
    color: rgb(0, 0, 0);
    width: 60%;
    font-size: 1.25rem;
    height: 70px;
    text-align: center;
    transition: 0.6s;
    border: none;
    border-bottom: 2px solid #7c9677;
    background-color: #E4E4E3;
  }

input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid #226014;
}


a {
    font-style: normal;
    align-items: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

a:hover{
    text-decoration: none;
}

#homerectangle:hover {
	box-shadow: 0 4px #352e27;
	top: 12px;
    transition: all 0.3s;
}

#profilerectangle:hover {
	box-shadow: 0 4px #352e27;
	top: 12px;
    transition: all 0.3s;
}

#signinrectangle:hover {
	box-shadow: 0 4px #352e27;
	top: 12px;
    transition: all 0.3s;
}

#rectangle:hover{
    width: 940px;
    height: 353px;
    transition: all 0.3s;
}


.main-body{
    display: flex;
    flex-direction:row;
    align-items: center;
} 

.note-box{
    border-color: none;
    background-color:#c1d8bc;
    border-radius: 30px;
    padding: 50px;
    width: 150px;
    height: 100px;
    color:#3a3a3a;
    margin-top: 100px; 
    font-size: large;
    font-family:'Inter', sans-serif; 
    font-weight: 600;
    margin: 50px;
    margin-top: 550px;
}


.info-text{
    background: #EFECE4;
    box-shadow: 0 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    color:rgb(0, 0, 0);
    padding: 40px;
    width: 550px;
    font-size:larger;
}

.info-text:hover{
    box-shadow: 0 4px #352e27;
	top: 2px;
    transition: all 0.3s;

}